nav {
    border-bottom: solid 1px;
    padding-bottom: "1rem" ;
    display: flex;
    justify-content: center;
  }
  
  nav a {
    margin: 0 10px;
    padding: 5px;
    text-decoration: none;
    color: black;
  }
  
  nav a:hover{
  color: #acc;
  }

  .active {
    background-color: #000;
    color: #fff;
  }